binder_call(system_app, wificond);

dontaudit system_app installd_service:service_manager find;
dontaudit system_app netd_service:service_manager find;
